body {
    background-color: bisque;
}

.accordion {
    width: 60%;
    background-color: #fff;
    padding: 10%;
    border-radius: 30px;
}

.accordion .accordion-title {
    margin-bottom: 30px;
    text-align: center;
}